@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Hi+Melody:400');

/*전체관리영역*/
*{font-family: ;font-size: ;}/*루트-*/
html{box-sizing: ;margin: ;padding: ;}/*-영역*/



/*전체-배경*/
body{
    background-image: url(./img/bg.png);
    font-family: 'Hi Melody', 맑은 고딕, arial;
    font-size: 1.8rem;
    color: #303030;
}

header{
    width: 100%;
    margin:  1rem auto 2.5rem auto;

    /*
    margin: 0; - 상하좌우 전부 0값
    margin: 0 auto; - 상하는0, 좌우는 auto
    margin: 0 auto 40px; - 상 좌우 하
    margin: 0 auto 20px 40px; - 상 0 우 0 하 20px 왼 40px
    */
}
header h1{
    text-align: center;
    padding: 1rem auto; 
 
}


/* img, span , input : 인라인 속성->줄 바꿈이 일어나지 않는 속성 */
/* h1~h6, p , div,article... : 블록 속성 -> 줄 바꿈이 일어난다 */
/*h1~h6,p:텍스트속성-> 전용 정렬모드가 따로 존재*/
/*블록:상,하값 모두 가짐 , 인라인:상하값을 못 가짐 */
/*블록>인라인*/

header h1 .logo{
    padding: 2rem;
    transition-property: all;
    transition-duration: 5s;
}

header h1 .logo:hover{
    padding: 2rem;
    transform: rotate(3600deg);
  
   
}

header .gnb ul{
    display: flex;
    justify-content:space-around;
   border-top: 1px solid #7d4141;
   border-bottom: 1px solid #7d4141;
   border-radius: 50px;
   padding: 1rem 0 1rem ;
   background-color:rgba(125, 221, 211, 0.2);
 
}

header li{
    margin: 0 1.5rem;
    font-weight: blod;
    font-size: 2.8rem;
    color:#866738;
}

header li a:hover{
    margin: 0 1.5rem;
    font-weight: blod;
    font-size: 2.8rem;
    color:#7e4b00;
}

section{
    max-width: 1400px;
    margin:0 auto;
    
}

main{
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #7d4141;
    padding: 1rem;
    background-color: white;
    margin-bottom: 3rem;
}

article{
    margin-bottom: 2.4rem;
}

article img{
    width: 500px;
}
.hero{
    margin-bottom: 2.4rem;
}
.hero h2{
    font-size: 2em;
    font-weight: bold; 
    margin-bottom: 1rem;
}

.hero p{
    background-color: rgb(117, 185, 14);
    padding:0.8rem;
    border-radius: 0px 20px 20px 15px;
    width: 400px;
}

figure{
    padding: 1em;

}


article{}
article h3{
    border-bottom: 2px solid rgb(117, 185, 14);
    background-image: url(./img/h2_icon.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    font-size: 1.4em;
    color:orange;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding: 1px 10px 2px 50px;
}

article p{
   
    font-family: 'dotem'; 
    line-height:2.5rem;
    font-weight: 200;

}

/*어사이드 -오른쪽 영역 */

aside{}

/*어사이드-오른쪽 영역 - 내비 단락 */

aside nav{
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #7d4141;
    padding: 26px;
    margin-bottom: 2rem;
    background-color: white;
}

aside h4{
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(117,185,14);
    font-size:3rem;
}

aside ul{
    font-size: 1em;
    color: #7d4141;
    font-weight: 400;
}

aside li{
    font-size:0.8em;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.lnb{}
.lnb li{
    list-style-type: square;
    color: #634820;
    font-weight: blod;
 

}
.lnb a:hover{
    color: rgb(117, 185, 14);
}

.recent_b ul{
    height: 15rem;
    overflow: hidden scroll;
}

.recent_b li{
    border-bottom: 1px solid #7d4141;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}




/*바닥단*/

footer{
    background-color:#634820; /*void-공허 fuction-함수(빡스) var-변수 */ 
    color: white;
    text-align: center;
    padding:0.9rem 0.5rem 0.9rem;


}

.hero time{
    color: white;
}


/*반응형을 위한 미디어 스크린 구간*/

@media (min-width:800px){
    

    section{
        display: flex;
        justify-content:space-between ; /*가로 정렬 3가지 left,center,right,분배정렬(space-)*/
    }
    main{
        width: 60%;
      
        
    }
    
    aside{
        width: 25%;
    }

   
}